<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Question Page</title>
    <%- include('partials/header') %>
    <link rel="stylesheet" href="/detailQuestions.css">     
</head>
<body>
    <%- include('partials/navbar') %>
        <h3 class="mt-5">Our FAQ Page</h3>
        <div id="backButtonDiv">
            <button type="button" class="btn btn-dark "><a href="/backButton"> <i class="fa fa-arrow-circle-left"></i>&nbsp;Back</a></button>
        </div>
        <div class="list-group mt-3" id="detailDiv">
            <div  class="quesDiv">
                <div class="d-flex w-100 justify-content-between answerDiv" >
                    <h5 class="mb-1 ">What's special in our website?</h5>
                </div>
                <p class="mb-1 answerDiv">
                    Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
                    high
                    life accusamus terry richardson ad
                    squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident.
                </p>
            </div>
            <div  class="quesDiv">
                <div class="d-flex w-100 justify-content-between answerDiv" >
                    <h5 class="mb-1"> How to generate report?</h5>
                </div>
                <p class="mb-1 answerDiv">
                    Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
                    high
                    life accusamus terry richardson ad
                    squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident.
                </p>
            </div>
            <div class="quesDiv">
                <div class="d-flex w-100 justify-content-between answerDiv">
                    <h5 class="mb-1 ">How to delete data of students?</h5>
                </div>
                <p class="mb-1 answerDiv" class="answerDiv">
                    Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
                    high
                    life accusamus terry richardson ad
                    squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident.
                </p>
            </div>
            <div  class="quesDiv">
                <div class="d-flex w-100 justify-content-between answerDiv">
                    <h5 class="mb-1">Is it is necessary to add last name?</h5>
                </div>
                <p class="mb-1 answerDiv">
                    Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
                    high
                    life accusamus terry richardson ad
                    squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident.
                </p>
            </div>
        </div>
        <%- include('partials/footer') %>
</body>
</html>